<% content_for :content do %>
  <body>
    <div id="cl-wrapper">
      <div class="cl-sidebar">
<%= render :partial => 'layouts/spreeeed_engine/sidebar' %>
      </div>

      <div class="container-fluid" id="pcont">
        <div id="head-nav" class="navbar navbar-default">
        <!--Top Bar-->
        </div>

        <div class="cl-mcont">
          <!--Content-->
          <%= yield %>
        </div>
      </div>
    </div>

<%= render :partial => 'layouts/spreeeed_engine/load_js' %>
  </body>
<% end %>
<%= render template: 'layouts/spreeeed_engine/backbone' %>
