<% if object.errors.any? %>
  <% object.errors.full_messages.each do |msg| %>
  <div class="alert alert-warning alert-white-alt2 rounded">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <div class="icon"><i class="fa fa-warning"></i></div>
    <strong>警告！</strong> <%= msg %>
  </div>
  <% end %>
<% end %>
